body{
    background-color: #F9F9FA;
}

.app{
max-width: 600px;
background-color: #C8CDD2;
}

header{
    color: #15C26B;
}

button{
    border-radius: 2px;
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
    border: none;
}

.message_box{
    background-color: #F9F9FA;
    max-height: 50vh;
}

.time{
    font-size: 12px;
    font-weight: lighter;
}

.username{
    font-weight: bold;
}

.message{
    font-family: cursive;
}

.selected,.selected:hover{
    background-color: tomato;
}
